[Unit]
Description=Valheim Dedicated Server
Wants=network-online.target
After=network-online.target valheim-world-restore-recovery.service
Requires=valheim-world-restore-recovery.service

[Service]
Type=simple
User=valheim
Group=valheim
WorkingDirectory=/opt/valheim/server
ExecStart=/usr/local/libexec/valheim-server-launch
KillSignal=SIGINT
RuntimeDirectory=valheim
RuntimeDirectoryMode=0750
TimeoutStopSec=8min
ExecStop=/usr/local/libexec/valheim-lifecycle-announcement
Restart=on-failure
RestartSec=10
UMask=0077
PrivateTmp=true
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/opt/valheim/data
ReadWritePaths=/opt/valheim/logs
ReadWritePaths=/opt/valheim/modpack

[Install]
WantedBy=multi-user.target
